<p>Well, well, well, {{ user.username }},</p>

<p>Look who forgot their password again!</p>

<p>We'd tell you to use a pasword keeper but you're obviously too stupid to know what that is</p>

<p>To reset your password <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">click here</a>.
</p>


<p>Alternatively, you can paste the following link in your browser's address bar:</p>


<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>

<p>That's if you can manage the complicated task of copying and pasting, that is.</p>

<p>If you have not requested a password reset please ignore the above insults and this message on the whole.</p>


<p>Sincerely,</p>


<p>The Bullpen Blog Team</p>


<p><small>Note: replies to this email address are not monitored.</small></p>
